<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.jaiboondemand">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SetupUsers" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PostActivity" />
        <activity
            android:name=".SingleInstaActivity"
            android:label="@string/title_activity_single_insta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Forget_Account" />
        <activity android:name=".AdminManager" />
        <activity android:name=".AdminPost" />
        <activity android:name=".ShopManager" />
        <activity
            android:name=".CateGoryUser"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ProfileTemple" />
        <activity android:name=".ProfileFoundation" />
        <activity android:name=".ProfileCustomer" />
        <activity android:name=".foundation_donate" />
        <activity android:name=".UserPost"></activity>
    </application>

</manifest>